/*************************************************************
Whole Document Styling
 *************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/*************************************************************
Header Section
*************************************************************/
#main-header {
  text-align: center;
  background-image: url("./img/skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

#main-header h1{
    font-size: 3rem;
}

/*************************************************************
Weather App Section
*************************************************************/


/*************************************************************
Search Section 
*************************************************************/

#search-section{
    display: flex;
}

/*************************************************************
Weather App Section
*************************************************************/

#city-forecast{
    display: flex;
    min-height: 40vh;
    padding: 50px;
}

/*************************************************************
Weather App Section
*************************************************************/

#future-forecast{
    background-color: pink;
    min-height: 40vh;
}