/*************************************************************
Whole Document Styling
 *************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*************************************************************
Header Section
*************************************************************/
#main-header {
  text-align: center;
  background-color: red;
  padding: 10px;
}

#main-header h1{
    font-size: 3rem;
}

/*************************************************************
Weather App Section
*************************************************************/
/* #dashboard-section{
    background-color: blue; 
} */

/*************************************************************
Search Section 
*************************************************************/

#search-section{
    background-color: yellow;
}

/*************************************************************
Weather App Section
*************************************************************/

#city-forecast{
    background-color: green;
    height: 20vh;
}

/*************************************************************
Weather App Section
*************************************************************/

#future-forecast{
    background-color: pink;
    height: 30vh;
}